* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}
body{
  background-color: white!important;
}
.main{
  margin-bottom : 150px !important;
}
.header {
    border-bottom: 5px solid rgb(92, 183, 216)
}
.iconTopic{
  max-width: 60px;
}
.menuTab{
  max-width: 80%;
  margin : 50px auto;
}
.MuiTab-wrapper{
  align-self: end;
}
.headWrapper {
    width: 90%;
    margin: 20px auto;
    text-align: right;
    min-height: 50px;
}

.headWrapper .logo {
    float: left;
}

.headWrapper .logo h1 {
    display: inline-block;
    width: 100px;
}

.headWrapper .logo h1 img {
    width: 100%;
}

.headWrapper .rightSection {
    display: inline-block
}

.headWrapper .explore {
    color: black;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 50px;
}

.headWrapper .changeLang {
    margin-top: 20px;
    display: inline-block;
}

.headWrapper select {
    background-color: white;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 15px;
    border: 1px solid rgb(92, 183, 216);
}

.contentWrapper {
    width: 65%;
    margin: 0 auto;
}

.contentWrapper .searchBar {
    height: 100px;
    width: 50%;
    margin: 30px auto;
}

.contentWrapper .searchBar form {
    height: 100%;
    width: 100%;
}

.contentWrapper .searchBar form input {
    width: 100%;
    height: 35px;
    margin-top: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.topicMenu {
    margin: 50px auto;
    max-width: 80%;
    text-align: center
}

.topic {
    display: inline-block;
    margin: 0px 6%;
    cursor: pointer;
}

.topic img {
    max-width: 60px;
    opacity: 0.4;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.topic img.selected {
    max-width: 60px;
    opacity: 1;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.topic p {
    padding: 10px 0px;
}

.subTopicRow {
    margin: 40px 0px;
}

.subTopicRow.onSearch {
    margin: 10px 0px;
}

.searchKeyWord {
    font-style: italic;
    font-weight: 100
}

.subTopic {
    font-size: 30px;
    margin: 10px 0px;
    font-weight: 100;
}

.rowQuestionAnswer {
    padding-left: 20px;
}
.questionRow>*{
  border : none;
  box-shadow: none!important;
}
.questionSection {
    padding: 10px 0px;
}
.questionSection>div {
    border: none;
    box-shadow: none;
}

.questionSection:nth-child(1) {
    border: none;
}

.question {
    padding: 20px 0px;
    font-size: 18px;
    padding-left: 30px;
    color: #00A0E3;
    font-weight: 100;
    cursor: pointer;
    background-size: 20px;
    background-position: 0px 20px;
    background-repeat: no-repeat;
    background-image: url("./icon/plus.svg");
}

.question span {
    color: rgb(180, 180, 180);
    font-style: italic;
}

.Mui-expanded .question {
    background-image: url("./icon/minus.svg")!important;
}

.response {
    overflow: hidden;
}

.responseIsOpen {
    height: auto;
    max-height: 100px;
    overflow: hidden;
    padding: 0px;
}


/** Responsive**/

@media screen and (max-width:480px) {
    body {
        overflow-x: hidden;
    }
    .header {
        position: fixed;
        height: 100px;
        width: 100%;
        background-color: white;
        z-index: 1000;
        top: 0px;
    }
    .headWrapper {
        min-height: 0px;
        height: 30px;
    }
    .headWrapper .logo h1 {
        width: 70px;
    }
    .contentWrapper {
        width: 90%;
        margin-top: 120px;
    }
    .contentWrapper .searchBar {
        height: 30px;
        width: 100%;
        margin: 10px auto;
    }
    .contentWrapper .searchBar form input {
        width: 100%;
        margin: 0px 0px;
    }
    .topicMenu {
        margin: 0px;
        text-align: center;
        max-width: none;
        font-size: 14px;
    }
    .topicMenu .topic {
        width: 25%;
        margin: 5px 0px;
    }
    .topicMenu .topic p {
        display: none;
    }
    .subTopicRow {
        margin: 20px 0px;
    }
    .questionSection {
        padding: 0px;
    }
    .question {
        padding: 10px 25px;
        background-position: 0px 50%;
    }
    .rightSection {
        position: fixed;
        top: 0px;
        right: -45%;
        height: 100%;
        width: 40%;
        z-index: 10;
        background-color: white;
        border-left: 5px solid rgb(92, 183, 216);
    }
    .rightSection>* {
        width: 100%;
        display: inline-block;
        padding: 10px 0px;
        text-align: center;
    }
    .rightSection .explore:first-child {
        margin-top: 70px;
    }
    .rightSection .explore {
        margin: 0px;
    }
    .rightSection .changeLang {
        margin: 0px;
    }
    .rightSection form select {
        width: 90%;
    }
    .hamButton {
        width: 35px;
        height: 35px;
        float: right;
        display: block;
        cursor: pointer;
    }
    .closeMenu {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 20px;
        padding: 0px;
        cursor: pointer;
    }
}
